<h2><%= @text.author %></h2>
<p><%= @text.body %> </p>

<h3>Comments</h3>
<p>
<%= render @text.comments %>
</p>

<%= render 'texts/commentform' %>

<p>
<%= link_to "edit", edit_text_path(@text) %> | 
<%= link_to "delete", @text, method: :delete, data: { confirm: "Are you sure"} %>
</p>

<%= link_to "Back to index", texts_path %>